replicaCount: 1
image:
  repository: dcaroc/fast-api-docker
  pullPolicy: IfNotPresent
  tag: 7a86a2
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 5000
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: python-app.parcer.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
httpRoute:
  enabled: false
resources:
  requests:
    cpu: 50m
    memory: 50M
livenessProbe:
  httpGet:
    path: /app/v1/healthz
    port: http
readinessProbe:
  httpGet:
    path: /app/v1/healthz
    port: http
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
